@charset "utf-8";

	/* CSS Document */
table{
	border-collapse:collapse;
}
*{
	margin:0px;
	padding:0px;
}
.wrapper{
	width:1024px;
	height:1000px;
	border:1px solid #FFF;
	margin:auto;
	}
.header{
	width:100%;
	height:120px;
	border:2px solid #F30;
	background:#FF9;
	
	}
.menu{
	width:auto;
	height:40px;
	border:2px solid #900;
	background:#F3F;
	color:#F06;
	padding-left:200px;
	}
.menu ul{
	width:1024px;
	height:40px;
	font-size:18px;
	list-style:none;
	
	}
.menu ul li{
	width:170px;
	height:40px	;
	text-align:center;
	font-weight:bold;
	float:left;
	}
.menu ul li a{
	text-decoration:none;
	color:#FFF;
	
	}
	
.menu li:hover{
	background:#F6F;
	color:#FFC;
	}
.content{
	width:100%;
	height:1000px;
	background:#FFF;
	color:#F09;
	border:1px hidden ;
	}
.left{
	width:45%;
	height:1000px;
	border:2px solid #F00;
	float:left;
	}
.right{
	width:52%;
	height:1000px;
	border:2px solid #F00;
	float:right;
	margin-left:20px;
	
	}

.clear{
	clear:both;
	}
.footer{
	width:100%;
	height:120px;
	border:2px solid #F00;
	background:#FCC;
	}